*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(15, 25, 36);
    left: 0;
}
header{
    background-color: rgba(23, 26, 33);
    border: solid;
    padding-bottom: 30px;
    border-color: black;
}
.header_text{
    font-size: 2.5rem;
    color: white;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa_RPS{
    background-color: rgba(25, 43, 63);
    width: 67rem;
    height: 40rem;
}
.h1_RPS{
    color:  rgba(0, 132, 201);
}
.RPS_button{
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}